<div class="book-container col s12 l6">
  <div class="card horizontal hoverable valign-wrapper">
    <div class="card-image">
        <img src="/assets/images/covers/{{ include.book[1].cover }}" alt="{{ include.book[1].name }}" title="{{ include.book[1].name }}"></img>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p class="card-title">{{ include.book[1].name }}</p>
        <p class="truncate">{{ include.book[1].description }}</p>
      </div>
      <div class="card-action">
        <a href="https://www.goodreads.com/book/show/{{ include.book[1].goodreads }}">Goodreads</a>
        {% if include.book[1].summary %}
          <a class="right" href="/{{ include.book[1].summary }}">My notes</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>