<div class="project-container col s12">
  <div class="card horizontal valign-wrapper">
    <div class="card-image project-dates">
      <h5 class="center-align">{{ include.project[1].date_start }}<br>{{ include.project[1].date_end }}</h5>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <h3 class="project-name"><b>{{ include.project[1].name }}</b></h3>
        <h5 class="project-client">{{ include.project[1].client }}</h5>
        <p class="project-description">{{ include.project[1].description }}</p>
      </div>
      <div class="card-action tool-container">
        <div class="tool">
          {% for tool in include.project[1].tools %}
            <i class="{{tool[1].class}}" alt="{{tool[1].name}}" title="{{tool[1].name}}"></i>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>