.tool {
  margin: 10px;
}

.tool-container {
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  p {
    font-size: 16px;
  }
  @media only screen and (min-width: 550px) {
    flex-wrap: nowrap;
    font-size: 75px;
  }
}

.project-container {
  margin: 5px auto;
  border-bottom: solid 1px black;
}