---
layout: default
---

<div id="homepage">
  <!-- TODO: Remove ASAP -->
  <div class="row top-row center" style="position:fixed; top: 0; left: 0; width: 100%; z-index: 999; background-color: white">Under Construction</div>
  <div class="row">
    {% include box.html section=site.data.sections.about %}
    {% include box.html section=site.data.sections.projects %}
  </div>
  <div class="row">
    {% include box.html section=site.data.sections.favorites %}
    {% include box.html section=site.data.sections.contact %}
  </div>
</div>
